*.egg-info
*.elc
*.po.js
*.pyc
*.styl.css
*.sw*
*~
.#*
.DS_Store
.buildout
.emacs.d/.autosaves
.emacs.d/.emacs-places
.emacs.d/history
.emacs.d/site/nxhtml
.emacs.d/tramp
.emacs.desktop
.ipython
.virtualenvs
.zsh/cache
TAGS
TMP
bower_components
build
dist
node_modules
npm-debug.log
settings_local.js
settings_local_hosted.js
src/app.html
src/locales/*
src/media/build_id.txt
src/media/css/include.css
src/media/css/splash.css
src/media/imgurls.txt
src/media/include.css
src/media/include.js
src/media/js/commonplace
src/media/js/include.js
src/media/js/l10n.js
src/media/js/views.js
src/media/js/lib
src/media/locales/*
src/server.html
src/templates.js
tests/captures/*
