<nav role="navigation">
  <a href="#" id="nav-back" class="header-button icon back" title="{{ _('Back') }}"><b>{{ _('Back') }}</b></a>
  <h1 class="site"><a href="{{ url('home') }}"><span class="wordmark">Firefox Marketplace</span></a></h1>
  <h2>{{ _('Statistics') }}</h2>
  <span class="flex-shift"></span>
  <span class="flex-span"></span>
  <div class="act-tray">
    <a href="/settings" class="header-button icon settings" title="{{ _('Settings') }}"></a>
  </div>
  <a href="#" class="header-button persona">{{ _('Sign In') }}</a>
</nav>
