<nav role="navigation">
  <h1 class="site"><a href="/"><span class="wordmark">Firefox Marketplace</span></a></h1>
  <a href="{{ url('homepage') }}" class="project">{{ _('Statistics') }}</a>
  <span class="flex-shift"></span>
  <span class="flex-span"></span>
  <a href="/settings" class="only-logged-in email">
    <b>{{ user.get_setting('email') }}</b></a>
  <a class="logout only-logged-in" href="#">{{ _('Sign Out') }}</a>
  <a class="header-button persona only-logged-out" href="#">{{ _('Sign In') }}</a>
</nav>
