<section class="main">
  <h1>{{ _('Marketplace Statistics Dashboard') }}</h1>

  <h2>{{ _('Charts currently available') }}</h2>
  <ul>
    <li>
      <a href="{{ url('apps_added') }}">{{ _('Apps Added by Payment Type') }}</a>
    </li>
    <li>
      <a href="{{ url('total_developers') }}">{{ _('Total Developers') }}</a>
    </li>
    <li>
      <a href="{{ url('total_visits') }}">{{ _('Total Visits') }}</a>
    </li>
    <li>
      <a href="{{ url('apps_installed') }}">{{ _('Apps Installed') }}</a>
    </li>
    <li>
      <a href="{{ url('apps_by_type') }}">{{ _('Apps Added by Type') }}</a>
    </li>
  </ul>
</section>
