{# This template is for per-app charts which have a slug. Houses the defer below. #}
<section class="main chart">
  {% defer (url=api('app', [slug]), as='app', key=slug, id='app-data') %}
    {% if user.logged_in() %}
      <h1>
        {{ title }}:
        <a href="{{ url('app_dashboard', [slug]) }}">{{ this.name|translate(this) }}</a>
      </h1>
      {% include 'includes/chartbody.html' %}
    {% else %}
      {% include 'includes/signin_required.html' %}
    {% endif %}
  {% end %}
</section>
