define('settings_local',
    [],
    function() {
    return {
        api_cdn_whitelist: {},
        api_url: 'https://marketplace-dev.allizom.org',
        media_url: 'https://marketplace-dev-cdn.allizom.org/media/'
    };
});
