<div id="range" class="options">
  <form id="rangeform" class="date-range">
    <label>{{ _('From') }} <x-datepicker name="from"></x-datepicker></label>
    <label>{{ _('To') }} <x-datepicker name="to"></x-datepicker></label>
    {% if enableRegions %}
      {% defer (url=anonApi('regions'), pluck='objects') %}
      <div class="regions">
        <select name="region">
          <option value="">{{ _('All regions') }}</option>
          {% for region in this %}
            <option value="{{ region.slug }}">{{ region.name }}</option>
          {% endfor %}
        </select>
      </div>
      {% end %}
    {% endif %}
    <button class="button">{{ _('Update') }}</button>
    <nav id="interval" class="interval">
      <ul>
        <li class="active"><a data-interval="day">{{ _('day') }}</a></li>
        <li><a data-interval="week">{{ _('week') }}</a></li>
        <li><a data-interval="month">{{ _('month') }}</a></li>
      </ul>
    </nav>
  </form>
</div>
<div class="chartcloak"><p class="message">{{ _('This data is restricted or no data found') }}</p></div>
<div id="chart"></div>
<div id="raw-links" class="extras">
  <p>Download as <a id="raw-json">JSON</a></p>
</div>
<div id="bars" class="bars"></div>
