.button,
.button:visited {
  box-shadow: 0, 0 -2px 0 0 rgba(255,255,255,0.1) inset;
  background-color: #1793e5;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#4cb1ff), to(#1793e5));
  background-image: -webkit-linear-gradient(#4cb1ff, #1793e5);
  background-image: linear-gradient(#4cb1ff, #1793e5);
  background-repeat: repeat-x;
  border: 1px solid #1793e5;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font: 400 15px/48px FeuraSansWeb, "Open Sans", "Helvetica Neue", Arial, sans-serif;
  height: 48px;
  min-width: 100px;
  white-space: nowrap;
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
}
.button:hover,
.button:visited:hover,
.button:focus,
.button:visited:focus {
  background-color: #1584ce;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#2ba3ff), to(#1584ce));
  background-image: -webkit-linear-gradient(#2ba3ff, #1584ce);
  background-image: linear-gradient(#2ba3ff, #1584ce);
  text-decoration: none;
}
.button:hover,
.button:visited:hover,
.button:focus,
.button:visited:focus,
.button:active,
.button:visited:active {
  color: #e6e6e6;
}
.button:active,
.button:visited:active {
  box-shadow: 0 2px 0 0 rgba(0,0,0,0.2) inset, 0 12px 24px 6px rgba(0,0,0,0.2) inset, 0 0 2px 2px rgba(0,0,0,0.2) inset;
  border: 1px solid #1584ce;
}
.button {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.button.disabled,
.button[disabled] {
  background-color: #fafbfc;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e7e7e7), to(#fafbfc));
  background-image: -webkit-linear-gradient(#e7e7e7, #fafbfc);
  background-image: linear-gradient(#e7e7e7, #fafbfc);
  border: 1px solid #b7b7b7;
  box-shadow: none;
  color: #a7a7a7;
  pointer-events: none;
}
.button.manage {
  background-color: #a91300;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#da5132), to(#a91300));
  background-image: -webkit-linear-gradient(#da5132, #a91300);
  background-image: linear-gradient(#da5132, #a91300);
  border: 1px solid #a91300;
}
.button.manage:hover,
.button.manage:focus {
  background-color: #981100;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#cc4425), to(#981100));
  background-image: -webkit-linear-gradient(#cc4425, #981100);
  background-image: linear-gradient(#cc4425, #981100);
}
.button.manage:active {
  box-shadow: 0 2px 0 0 rgba(0,0,0,0.2) inset, 0 12px 24px 6px rgba(0,0,0,0.2) inset, 0 0 2px 2px rgba(0,0,0,0.2) inset;
  border: 1px solid #981100;
}
.button.alt {
  box-shadow: 0 1px 0 #fff, 0 1px 1px #f1f1f1 inset;
  background-color: #e7e7e7;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fff), to(#e7e7e7));
  background-image: -webkit-linear-gradient(#fff, #e7e7e7);
  background-image: linear-gradient(#fff, #e7e7e7);
  border: 1px solid #b7b7b7;
  color: #5f5f5f;
}
.button.alt:hover,
.button.alt:focus {
  background-color: #d0d0d0;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e6e6e6), to(#d0d0d0));
  background-image: -webkit-linear-gradient(#e6e6e6, #d0d0d0);
  background-image: linear-gradient(#e6e6e6, #d0d0d0);
}
.button.alt:hover,
.button.alt:focus,
.button.alt:active {
  color: #565656;
}
.button.alt:active {
  box-shadow: 0 2px 0 0 rgba(0,0,0,0.2) inset, 0 12px 24px 6px rgba(0,0,0,0.2) inset, 0 0 2px 2px rgba(0,0,0,0.2) inset;
  border: 1px solid #a5a5a5;
}
.button.loading-submit {
  position: relative;
}
.button.loading-submit:after {
  content: "";
  display: block;
  -webkit-animation: 0.9s spin infinite steps(30);
  -moz-animation: 0.9s spin infinite steps(30);
  animation: 0.9s spin infinite steps(30);
  height: 30px;
  margin: 0 auto;
  background: url("../img/btn_spinner.png") no-repeat center;
  width: 30px;
  left: 50%;
  margin-left: -15px;
  position: absolute;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAnFBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD4jUzeAAAANHRSTlMoDw0uDAsqISceLQkIKyUHFxsdHy8SDhQVGCQiJhoQLAUxChwGFikREwQgGTAjMgIDATMALVRcswAAASBJREFUeNp109eWgjAARVEVKwioFBWklyCkQf7/3yYzgRUZzHnd6z7eFZsq72GSYYzdV1WyqYlzNMhg/o9vw6xoxrQe5lWSpUIUNU2E4FDTTxaqN5TJJBcYc20lztjIMPd2ISMfsizDDlNwCiHMTKpi4LoQekzFhea6CVUy0jWtZUq2El2/qDlIkgSoGZmmGas53O/3DzW3db0qvknf/3J3PB4DomT/xfO/KI/z27KswFnOiWDWBQEKHwslRLCNUHho73Olbzoya7g6J49I7N+pZHbleiu6nEx4tv+YCSYd12vUVfHubBu7zdawS85MMPcn5+55qR73BsT+Nj+XKf28QXyNRvYE0/mJUvAcGaw3u7JnkkXU8IEH4vUmTzmO/QBhgZ0/tlb0mAAAAABJRU5ErkJggg==");
  top: 8px;
}
.button.product {
  height: 48px;
  padding: 0 32px;
}
.button[disabled],
.button.disabled,
.button.purchasing,
.button.purchased,
.button.installing,
.button.installed {
  pointer-events: none;
}
.button.installed,
.button.purchased,
.button.incompatible {
  pointer-events: auto;
}
.button .spin {
  display: inline-block;
  -webkit-animation: 0.9s spin infinite steps(30);
  -moz-animation: 0.9s spin infinite steps(30);
  animation: 0.9s spin infinite steps(30);
  height: 30px;
  margin: 0 auto;
  background: url("../img/btn_spinner.png") no-repeat center;
  width: 30px;
  height: 18px;
  margin: 2px 0;
  background: url("../img/btn_spinner_18.png") no-repeat center;
  width: 18px;
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), screen and (min-device-pixel-ratio: 2) {
  .button.loading-submit:after {
    background-image: url("../img/btn_spinner_alt_2x.png");
    background-size: 30px auto;
  }
  .button .spin {
    background-image: url("../img/btn_spinner_18_2x.png");
    background-size: 18px auto;
  }
}
@media (max-width: 600px) {
  .button {
    padding: 0 15px;
  }
  .button.fat {
    display: block;
    width: 100%;
  }
}
