@import 'lib';

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    stroke-width: 1.0px;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.tooltip {
    background: #fff;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 0 1px 2px rgba(0,0,0,.6);
    font: 12px sans-serif;
    min-width: 130px;
    opacity: 0;
    padding: 10px;
    pointer-events: none;
    position: absolute;
    text-align: left;
}

.timeinfo {
    margin: 3px 0 5px;
}

svg {
    background-color: #fff;
    border-radius: 3px;
    font-size: 11px;
    left: 4px;
    position: relative;
    top: 4px;
    circle {
        cursor: pointer;
    }
}

.chartcloak {
    background: #fff;
    display: none;
    height: 440px;
    left: 36px;
    position: absolute;
    top: 113px;
    width: $desktop-content - 10;
    z-index: 20;
    .message {
        color: #aaa;
        font-size: 24px;
        font-weight: bold;
        margin-top: 200px;
        text-align: center;
    }
}

.legend {
    left: 50%;
    margin: 15px 0 0;
    padding: 10px;
    position: absolute;
    transform: translate(-50%, 10%);
}

.legend a {
    display: inline-block;
    font-size: 14px;
    margin: 0 15px;
    // Override the inline color style.
    &.hidden {
        color: #bbb !important;
    }
}

.graphline {
    transition: all 1s linear;
}

.options {
    margin: 25px 0;
    label {
        display: inline-block;
        width: 200px;
    }
    input {
        display: inline-block;
        font-size: 13px;
        height: 24px;
        top: -2px;
    }
    input[type=submit] {
        background-color: #fff;
        border: 0;
        box-shadow: 0 0 2px $sailor-blue inset;
        height: 27px;
        padding: 0 20px;
    }
}

.options input, x-datepicker, x-calendar, .cbox, .legend {
    border-radius: 3px;
}

.cbox, .legend, .options input[type=text] {
    background-color: #fff;
    border: 0;
    box-shadow: 0 0 2px $castle-skull-gray inset;
}

.cbox {
    padding: 4px 0 4px 4px;
}

x-datepicker {
    border: 0;
    width: 130px;
}
