@import 'lib';

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    stroke-width: 1.0px;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.tooltip {
    background: #fff;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 0 1px 2px rgba(0,0,0,.6);
    font: 12px sans-serif;
    min-width: 130px;
    opacity: 0;
    padding: 10px;
    pointer-events: none;
    position: absolute;
    text-align: left;
}

.timeinfo {
    margin: 3px 0 5px;
}

svg {
    background-color: #fff;
    border-radius: 3px;
    font-size: 11px;
    circle {
        cursor: pointer;
    }
}

.chartcloak {
    background: #fff;
    display: none;
    height: 450px;
    position: absolute;
    width: $desktop-content;
    z-index: 20;
    .message {
        color: #aaa;
        font-size: 24px;
        font-weight: bold;
        margin-top: 200px;
        text-align: center;
    }
}

.legend {
    border: 1px solid $primer-gray;
    border-radius: 3px;
    background-color: #fff;
    left: 50%;
    margin: 15px 0 0;
    padding: 10px;
    position: absolute;
    transform: translate(-50%, 10%);
}

.legend a {
    display: inline-block;
    font-size: 14px;
    margin: 0 15px;
    // Override the inline color style.
    &.hidden {
        color: #bbb !important;
    }
}

.graphline {
    transition: all 1s linear;
}

.options {
    margin: 25px 0;
    label {
        display: inline-block;
        width: 200px;
    }
    input {
        display: inline-block;
        font-size: 13px;
        height: 24px;
        top: -3px;
    }
    input[type=submit] {
        background-color: #fff;
        border: 1px solid green;
        box-shadow: 0 0 2px rgba(0,128,0,.6);
        height: 26px;
        padding: 0 20px;
    }
}

.options input, x-datepicker, x-calendar {
    border-radius: 3px;
}

x-datepicker {
    border: 0;
    width: 130px;
}
