@import 'lib';

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    stroke-width: 1.0px;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.tooltip {
    background: #fff;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 0 1px 2px rgba(0,0,0,.6);
    font: 12px sans-serif;
    padding: 10px;
    pointer-events: none;
    position: absolute;
    text-align: left;
}

.timeinfo {
    margin: 3px 0 5px;
}

svg {
    background-color: #fff;
    border-radius: 3px;
    font-size: 11px;
    circle {
        cursor: pointer;
    }
}

.legend {
    border: 1px solid $primer-gray;
    border-radius: 3px;
    background-color: #fff;
    left: 50%;
    margin: 15px 0 0;
    padding: 10px;
    position: absolute;
    transform: translate(-50%, 10%);
}

.legend a {
    display: inline-block;
    font-size: 14px;
    margin: 0 15px;
    // Override the inline color style.
    &.hidden {
        color: #bbb !important;
    }
}

.graphline {
    transition: all 1s linear;
}

#range {
    margin: 25px 0;
    label {
        display: inline-block;
        text-align: center;
        width: 33%;
    }
    input {
        font-size: 13px;
        height: 22px;
    }
    input[type=submit] {
        background-color: #fff;
        border: 1px solid $primer-gray;
        height: 26px;
    }
}

#range input, x-datepicker, x-calendar {
    border-radius: 3px;
}
