.potato-captcha {
  display: none;
}
button,
input,
select,
textarea {
  font: 100% FeuraSansWeb, "Open Sans", "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  max-width: 100%;
  vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
input[type=button],
input[type=reset],
input[type=submit] {
  cursor: pointer;
}
label {
  display: block;
  font-weight: 400;
}
input::-webkit-input-placeholder {
  color: #888;
}
input:-moz-placeholder {
  color: #888;
  text-overflow: ellipsis;
}
input::-moz-placeholder {
  text-overflow: ellipsis;
}
input[placeholder] {
  text-overflow: ellipsis;
}
input[placeholder]:-moz-placeholder:focus {
  color: transparent !important;
}
input[placeholder]:focus::-moz-placeholder {
  color: transparent !important;
}
input[placeholder]:focus::-webkit-input-placeholder {
  color: transparent !important;
}
form input[type=email],
form input[type=text],
form textarea {
  border-radius: 2px;
  border: 1px solid #ccc;
  padding: 5px;
}
form input[type=email][disabled],
form input[type=text][disabled],
form textarea[disabled],
form input[type=email][readonly],
form input[type=text][readonly],
form textarea[readonly] {
  background: #e7e7e7;
  color: #a7a7a7;
  cursor: not-allowed;
}
form input[type=email]:focus,
form input[type=text]:focus,
form #search-q:focus,
form textarea:focus {
  border-color: #0096dc;
  box-shadow: 0 0 8px #0096dc;
}
textarea {
  display: block;
  overflow: auto;
  vertical-align: top;
}
.form-grid {
  background: #fff url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+Cjxzdmcgd2lkdGg9IjEyMCIgaGVpZ2h0PSIxMjAiIHZpZXdCb3g9IjAgMCAxMjAgMTIwIgogICAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmVyc2lvbj0iMS4xIgogICAgIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KCTxkZWZzPgogICAgCTxwYXR0ZXJuIGlkPSJkaWFnb25hbEhhdGNoIiBwYXR0ZXJuVW5pdHM9InVzZXJTcGFjZU9uVXNlIiB3aWR0aD0iNCIgaGVpZ2h0PSI0Ij4KICAgIAkJPGcgc3R5bGU9ImZpbGw6I2ZmZjsgc3Ryb2tlOiNmN2Y3Zjc7IHN0cm9rZS13aWR0aDoxIj4KICAJCQkJPHBhdGggZD0iTS0xLDEgbDIsLTIiIC8+CiAgCQkJCTxwYXRoIGQ9Ik0wLDQgbDQsLTQiIC8+CiAgICAgICAgICAgCQk8cGF0aCBkPSJNMyw1IGwyLC0yIiAvPgogICAgICAgICAgICA8L2c+CgkJPC9wYXR0ZXJuPgogICAgPC9kZWZzPgoJPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNkaWFnb25hbEhhdGNoKSAiLz4KPC9zdmc+");
  width: 100%;
}
.form-grid input[type=email],
.form-grid input[type=text],
.form-grid .pretty-select,
.form-grid select {
  height: 48px;
  width: 100%;
}
.form-grid input[type=email],
.form-grid input[type=text],
.form-grid .pretty-select {
  box-shadow: 0 1px 0 #fff, 0 1px 1px #f1f1f1 inset;
  border-radius: 3px;
  border: 1px solid #b7b7b7;
  box-shadow: 0 1px 0 #fff, 0 1px 1px #e7e7e7 inset;
  color: #5f5f5f;
  font: 400 15px/28px FeuraSansWeb, "Open Sans", "Helvetica Neue", Arial, sans-serif;
  height: 48px;
  padding: 10px 12px;
  text-decoration: none;
}
.form-grid .pretty-select,
.form-grid .pretty-select select {
  cursor: pointer;
}
.form-grid .pretty-select {
  background-color: #e7e7e7;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fff), to(#e7e7e7));
  background-image: -webkit-linear-gradient(#fff, #e7e7e7);
  background-image: linear-gradient(#fff, #e7e7e7);
  padding: 0;
  overflow: hidden;
  position: relative;
}
.form-grid .pretty-select:before {
  background: url("../img/pretty/dropdown.svg") 0 50% no-repeat;
  background-size: 24px auto;
  content: "";
  display: inline-block;
  height: 15px;
  margin-left: 10px;
  pointer-events: none;
  position: absolute;
  right: 10px;
  top: 15px;
  width: 25px;
  z-index: 2;
}
.form-grid .pretty-select:after {
  border-left: 1px solid #c7c7c7;
  box-shadow: 0 1px 0 #fff, 0 1px 1px #e7e7e7 inset;
  content: "";
  display: block;
  background-color: #e7e7e7;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fff), to(#e7e7e7));
  background-image: -webkit-linear-gradient(#fff, #e7e7e7);
  background-image: linear-gradient(#fff, #e7e7e7);
  height: 100%;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 45px;
  z-index: 1;
}
.form-grid .pretty-select:hover:before,
.form-grid .pretty-select:active:before {
  background-image: url("../img/pretty/dropdown_active.svg");
}
.form-grid .pretty-select select {
  -moz-padding-start: 10px;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  padding: 10px 12px;
}
.form-grid label {
  margin-bottom: 5px;
}
.form-grid .simple-field {
  padding: 10px 10px 0;
}
.form-grid footer {
  border-top: #333 1px dashed;
  margin-top: 10px;
}
.form-grid footer p {
  border-bottom: #333 1px dashed;
  padding: 10px;
}
.form-grid footer .extras {
  background: #f1f1f1;
  border: 0;
}
.form-grid footer .reviewer-tools {
  margin-top: 15px;
}
.form-grid footer button {
  width: 100%;
}
@media (min-width: 710px) {
  .form-grid {
    border: 1px solid #e7e7e7;
    border-radius: 10px;
    float: left;
    margin-top: 30px;
    padding: 3px 5px 8px;
    position: relative;
  }
  .form-grid .simple-field {
    float: left;
    padding: 15px 10px 10px;
    width: 50%;
  }
  .form-grid footer {
    position: absolute;
    top: -90px;
    right: -10px;
  }
  .form-grid footer p {
    float: left;
  }
  .form-grid footer a:nth-child(2) ~ a {
    display: none;
  }
  .form-grid footer,
  .form-grid footer p {
    border: 0;
  }
  #account-settings .secondary-header h2 {
    max-width: calc(100% - 330px);
  }
  .reviewer-tools {
    display: none;
  }
}
@media (min-width: 1024px) {
  .form-grid .extras {
    display: none;
  }
}
.only-logged-in.button,
.logged-in .only-logged-out.button {
  display: none;
}
.only-logged-out.button,
.logged-in .only-logged-in.button {
  display: block;
}
