.form-modal {
  background: #fff url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+Cjxzdmcgd2lkdGg9IjEyMCIgaGVpZ2h0PSIxMjAiIHZpZXdCb3g9IjAgMCAxMjAgMTIwIgogICAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmVyc2lvbj0iMS4xIgogICAgIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KCTxkZWZzPgogICAgCTxwYXR0ZXJuIGlkPSJkaWFnb25hbEhhdGNoIiBwYXR0ZXJuVW5pdHM9InVzZXJTcGFjZU9uVXNlIiB3aWR0aD0iNCIgaGVpZ2h0PSI0Ij4KICAgIAkJPGcgc3R5bGU9ImZpbGw6I2ZmZjsgc3Ryb2tlOiNmN2Y3Zjc7IHN0cm9rZS13aWR0aDoxIj4KICAJCQkJPHBhdGggZD0iTS0xLDEgbDIsLTIiIC8+CiAgCQkJCTxwYXRoIGQ9Ik0wLDQgbDQsLTQiIC8+CiAgICAgICAgICAgCQk8cGF0aCBkPSJNMyw1IGwyLC0yIiAvPgogICAgICAgICAgICA8L2c+CgkJPC9wYXR0ZXJuPgogICAgPC9kZWZzPgoJPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNkaWFnb25hbEhhdGNoKSAiLz4KPC9zdmc+");
  min-height: 492px;
  padding: 10px;
}
.form-modal textarea {
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.15) inset;
  margin-bottom: 15px;
  min-height: 96px;
  width: 100%;
}
.form-modal .button {
  width: 100%;
}
.modal.show .form-modal {
  min-height: inherit;
  padding: 0;
}
.modal.show .secondary-header {
  background: none;
  border-top: 0;
  height: 25px;
}
.modal.show .secondary-header h2 {
  line-height: 18px;
  margin: -3px 0 0;
}
.modal.show .secondary-header:before {
  background-image: none;
}
.modal.show .secondary-header .btn-cancel {
  display: block;
}
.main:not(.modal) .form-modal {
  min-height: inherit;
}
.main:not(.modal) .btn-cancel {
  display: none;
}
@media (min-width: 710px) {
  .form-modal {
    background: none;
    min-height: inherit;
    padding: 0;
  }
  .form-modal textarea {
    margin-bottom: 18px;
    min-height: 170px;
  }
  .modal .secondary-header {
    background: none;
    height: 22px;
  }
  .modal.show .buttons .button {
    width: auto;
  }
  .main:not(.modal) .form-modal {
    margin-top: 48px;
  }
}
