.header {
  background: #fff;
  display: -ms-box;
  display: -moz-box;
  display: -webkit-box;
  display: flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  height: 60px;
  max-height: 60px;
  position: relative;
  width: 100%;
}
.header > * {
  -ms-box-align: center;
  -moz-box-align: center;
  -webkit-box-align: center;
  align-self: center;
  -ms-align-self: center;
  -moz-align-self: center;
  -webkit-align-self: center;
}
.header .flex-shift,
.header .title {
  -ms-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
  -ms-flex: 1;
  -moz-flex: 1;
  -webkit-flex: 1;
  padding-left: 10px;
}
.header .title {
  color: #333;
  font-size: 18px;
  font-weight: 400;
  line-height: 60px;
  z-index: 10;
}
.project {
  border-left: 1px dotted #d7d7d7;
  color: #c70;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  margin-left: 15px;
  padding: 0 0 0 15px;
}
header .email {
  border-right: 1px solid #e7e7e7;
  color: #5f5f5f;
  margin-right: 15px;
  padding-right: 15px;
}
.header,
.secondary-header {
  border-bottom: 1px solid #d7d7d7;
}
.site-header {
  display: block;
  height: 60px;
  max-height: 60px;
  position: relative;
  text-align: center;
  top: 0;
  z-index: 20;
}
.site-header:before {
  display: none;
}
.site-header > * {
  display: block;
}
.site-header > nav {
  height: 60px;
  display: -ms-box;
  display: -moz-box;
  display: -webkit-box;
  display: flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  margin: 0 auto;
  max-width: 1024px;
  position: relative;
  text-align: left;
  width: 100%;
}
.site-header > nav > * {
  -ms-box-align: center;
  -moz-box-align: center;
  -webkit-box-align: center;
  align-self: center;
  -ms-align-self: center;
  -moz-align-self: center;
  -webkit-align-self: center;
  display: block;
}
.site-header .site {
  height: 60px;
  margin: 0;
  width: 232px;
}
.site-header .site a {
  display: block;
  height: 60px;
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  width: 100%;
}
.site-header .wordmark {
  background: url("../img/pretty/marketplace_logo.png") -5px 50% no-repeat;
  background-size: auto 46px;
  display: block;
  height: 47px;
  max-width: 232px;
  width: 232px;
}
.site-header .site,
.site-header .site a,
.site-header .wordmark {
  height: 60px;
}
.site-header .header-button {
  display: none;
}
.site-header .persona {
  display: block;
}
.close {
  background: url("../img/pretty/close.svg") 50% no-repeat;
  background-size: 18px auto;
  height: 34px;
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
}
.header-button {
  color: #333;
  display: block;
  height: 60px;
  line-height: 60px;
  text-align: center;
  width: 48px;
}
.header-button.back {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  background: url("../img/pretty/back_arrow.svg") center no-repeat;
  background-size: 12px 24px;
  margin-right: 2px;
  position: relative;
  width: 50px;
}
.header-button.back:after {
  background-repeat: no-repeat;
  content: "";
  display: block;
}
.header-button.back:hover {
  background-image: url("../img/pretty/back_arrow_active.svg");
}
.header-button.persona {
  display: none;
  margin-left: 15px;
  word-break: keep-all;
  word-wrap: normal;
}
.header-button.persona.loading-submit {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  outline: 0;
  width: 50px;
}
.header-button.persona.loading-submit:after {
  display: none;
}
[data-page-type~=debug] .header .wordmark {
  pointer-events: none;
}
[data-page-type~=search] .back,
[data-page-type~=leaf] .back,
[data-page-type~=search] .expand,
[data-page-type~=leaf] .expand,
[data-page-type~=search] .flex-span,
[data-page-type~=leaf] .flex-span {
  display: block;
}
[data-page-type~=search] .site,
[data-page-type~=leaf] .site,
[data-page-type~=search] .flex-shift,
[data-page-type~=leaf] .flex-shift {
  display: none;
}
[data-page-type~=search] .flex-span,
[data-page-type~=leaf] .flex-span {
  -ms-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
  -ms-flex: 1;
  -moz-flex: 1;
  -webkit-flex: 1;
}
main {
  padding: 48px 0;
}
.logged-in .site-header .persona {
  display: none;
}
[data-page-type~=search] .back,
[data-page-type~=leaf] .back,
[data-page-type~=search] .site,
[data-page-type~=leaf] .site {
  display: block;
}
[data-page-type~=search] .back,
[data-page-type~=leaf] .back,
[data-page-type~=search] .site-header .expand-toggle,
[data-page-type~=leaf] .site-header .expand-toggle,
[data-page-type~=search] .flex-span,
[data-page-type~=leaf] .flex-span {
  display: none;
}
[data-page-type~=search] .flex-shift,
[data-page-type~=leaf] .flex-shift {
  display: block;
}
.nav-overlay.show {
  background: transparent;
}
