.mkt-tile {
  color: #333;
  display: block;
  overflow: hidden;
  position: relative;
}
.mkt-tile:hover {
  text-decoration: none;
}
.mkt-tile .icon {
  display: block;
}
.mkt-tile .info h3,
.mkt-tile .author {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.grid,
.listing {
  clear: both;
  list-style: none;
  width: 100%;
}
.mkt-tile .rating {
  color: #0096dc;
  display: block;
  font-size: 12px;
  position: relative;
}
.mkt-tile .rating a {
  text-decoration: none;
}
.mkt-tile .rating a:hover .cnt {
  text-decoration: underline;
}
.mkt-tile .rating .cnt {
  position: relative;
  top: -2px;
}
.mkt-tile .rating.unrated,
.mkt-tile .rating.unrated a {
  color: #a7a7a7;
}
.listing .mkt-tile {
  min-height: 64px;
  padding: 15px 10px 15px 84px;
}
.listing .mkt-tile h3 {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  margin: -4px 0 -7px;
  padding-bottom: 10px;
}
.listing .mkt-tile .icon {
  float: left;
  position: absolute;
  top: 15px;
  left: 10px;
}
.listing .mkt-tile .author {
  color: #a7a7a7;
  font-size: 12px;
  line-height: 14px;
  max-height: 28px;
  margin-bottom: -2px;
  padding-bottom: 8px;
}
.listing .mkt-tile .button {
  height: 24px;
  line-height: 24px;
  font-size: 13px;
  margin-left: 10px;
  min-width: 90px;
  padding: 0;
  width: 90px;
}
.listing .mkt-tile .price {
  display: none;
}
.expanded .mkt-tile + .tray {
  display: block;
}
.mkt-tile + .tray {
  background: #f1f1f1;
  display: none;
  height: 230px;
  overflow: hidden;
  padding: 21px 0 0;
  position: relative;
}
.mkt-tile + .tray.single {
  height: 201px;
}
.mkt-tile + .tray .slider {
  margin-top: 15px;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.mkt-tile + .tray ul {
  height: 150px;
  list-style-type: none;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
}
.mkt-tile + .tray li {
  float: left;
  margin-left: 15px;
  text-align: center;
  width: 150px;
}
.mkt-tile + .tray li:first-child {
  margin-left: 0;
}
.mkt-tile + .tray li .thumbnail {
  display: block;
  padding-bottom: 100%;
  position: relative;
  width: 100%;
}
.mkt-tile + .tray li img {
  -moz-user-select: none;
  bottom: 0;
  display: block;
  left: 0;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
.mkt-tile + .single li {
  width: 100%;
}
.mkt-tile + .single li img {
  position: static;
}
.tray .dots {
  margin-top: 13px;
  height: 13px;
  text-align: center;
  width: 100%;
}
.tray .dot {
  background: #f1f1f1;
  border-color: #d7d7d7;
  border-radius: 6.5px;
  border-style: solid;
  border-width: 3px;
  cursor: pointer;
  display: inline-block;
  height: 13px;
  margin: 0 3px;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  width: 13px;
}
.tray .dot.current,
.tray .dot:hover,
.tray .dot:active {
  border-color: #0096dc;
}
.tray .dot.current {
  background: #0096dc;
}
.bad-app,
.shots .next,
.shots .prev {
  display: none;
}
.product-details .bad-app {
  color: #800;
  display: block;
  font-size: 11px;
  line-height: 12px;
}
.category {
  background: #fff;
  font-size: 15px;
  line-height: 16px;
}
.category .view-all {
  display: block;
  float: right;
  margin: -10px -6px -6px;
  padding: 10px 6px 6px;
  position: relative;
  z-index: 1;
}
.category.featured {
  background: #fff url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+Cjxzdmcgd2lkdGg9IjEyMCIgaGVpZ2h0PSIxMjAiIHZpZXdCb3g9IjAgMCAxMjAgMTIwIgogICAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmVyc2lvbj0iMS4xIgogICAgIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KCTxkZWZzPgogICAgCTxwYXR0ZXJuIGlkPSJkaWFnb25hbEhhdGNoIiBwYXR0ZXJuVW5pdHM9InVzZXJTcGFjZU9uVXNlIiB3aWR0aD0iNCIgaGVpZ2h0PSI0Ij4KICAgIAkJPGcgc3R5bGU9ImZpbGw6I2ZmZjsgc3Ryb2tlOiNmN2Y3Zjc7IHN0cm9rZS13aWR0aDoxIj4KICAJCQkJPHBhdGggZD0iTS0xLDEgbDIsLTIiIC8+CiAgCQkJCTxwYXRoIGQ9Ik0wLDQgbDQsLTQiIC8+CiAgICAgICAgICAgCQk8cGF0aCBkPSJNMyw1IGwyLC0yIiAvPgogICAgICAgICAgICA8L2c+CgkJPC9wYXR0ZXJuPgogICAgPC9kZWZzPgoJPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNkaWFnb25hbEhhdGNoKSAiLz4KPC9zdmc+");
  border-top-color: #0096dc;
}
.grid {
  font-size: 0;
  margin: 0 auto;
  max-width: 690px;
}
.grid li {
  display: inline-block;
  padding: 15px 10px;
  position: relative;
  vertical-align: top;
  width: 33.333333333333336%;
}
.grid .author,
.grid .button,
.grid .cnt {
  display: none;
}
.grid .mkt-tile {
  position: relative;
  width: 100%;
}
.grid .mkt-tile:hover .icon {
  opacity: 0.8;
}
.grid .mkt-tile:active .icon {
  opacity: 0.4;
}
.grid .mkt-tile h3,
.grid .mkt-tile .vital {
  font-size: 12px;
}
.grid .mkt-tile h3 {
  font-weight: 400;
  line-height: 16px;
  margin-bottom: -2px;
  padding-bottom: 2px;
}
.grid .mkt-tile .info {
  padding-top: 10px;
}
.grid .mkt-tile .price {
  color: #0096dc;
  font-weight: 400;
  margin-bottom: 2px;
}
.listing.grid-if-desktop .mkt-tile + .tray,
.listing.grid-if-desktop .mkt-tile + .tray img {
  display: none;
}
.tabs {
  left: 0;
  position: absolute;
  top: -7px;
  width: 100%;
}
.tabs a {
  color: #a7a7a7;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
  font-size: 15px;
  height: 29px;
  line-height: 29px;
  margin-top: 7px;
  min-width: 150px;
  padding: 0 43px;
  position: relative;
  text-align: center;
  text-decoration: none;
  z-index: 2;
}
.tabs a.active {
  color: #fff;
  pointer-events: none;
}
.tabs a.active:before,
.tabs a.active:after {
  background: #f1f1f1 url("../img/pretty/tab.svg") no-repeat;
  content: "";
  display: block;
  height: 36px;
  left: 0;
  position: absolute;
  top: -7px;
  width: 51%;
  z-index: -1;
}
.tabs a.active:after {
  background-position: 100% 0;
  left: auto;
  right: 0;
}
.tabs a:not(.active) {
  text-shadow: 0 1px 0 #fff;
}
.tabs a + a {
  margin-left: -50px;
}
@media (min-width: 710px) {
  .shots {
    position: relative;
  }
  .shots .next,
  .shots .prev {
    border-radius: 0 30px 30px 0;
    border: 15px solid rgba(37,37,37,0.7);
    height: 60px;
    margin-top: -30px;
    outline: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    width: 0;
    z-index: 16;
  }
  .shots .next:after,
  .shots .prev:after {
    background: url("../img/icons/slider_arrow.png") no-repeat;
    content: "";
    float: right;
    height: 22px;
    left: 7px;
    position: relative;
    top: 4px;
    width: 15px;
  }
  .shots .next:hover,
  .shots .prev:hover {
    border-color: rgba(37,37,37,0.9);
    border-left-width: 22px;
  }
  .shots .next:active,
  .shots .prev:active {
    border-color: rgba(119,119,119,0.9);
  }
  .shots .next {
    border-radius: 30px 0 0 30px;
    right: 0;
  }
  .shots .next:after {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  .shots .next:hover {
    border-left-width: 15px;
    border-right-width: 22px;
  }
  .shots .prev {
    left: 0;
  }
  #lightbox .next,
  #lightbox .prev {
    box-shadow: 0 0 4px #fff;
  }
  .category {
    border-radius: 0 0 10px 10px;
  }
  .featured {
    border-top: 7px solid #0096dc;
    margin-bottom: 48px;
  }
  .featured li:nth-child(7) ~ li {
    display: none;
  }
  .listing.grid-if-desktop {
    font-size: 0;
    margin: 0 auto;
    max-width: 690px;
  }
  .listing.grid-if-desktop li {
    display: inline-block;
    padding: 15px 10px;
    position: relative;
    vertical-align: top;
    width: 33.333333333333336%;
  }
  .listing.grid-if-desktop .author,
  .listing.grid-if-desktop .button,
  .listing.grid-if-desktop .cnt {
    display: none;
  }
  .listing.grid-if-desktop .mkt-tile {
    position: relative;
    width: 100%;
  }
  .listing.grid-if-desktop .mkt-tile:hover .icon {
    opacity: 0.8;
  }
  .listing.grid-if-desktop .mkt-tile:active .icon {
    opacity: 0.4;
  }
  .listing.grid-if-desktop .mkt-tile h3,
  .listing.grid-if-desktop .mkt-tile .vital {
    font-size: 12px;
  }
  .listing.grid-if-desktop .mkt-tile h3 {
    font-weight: 400;
    line-height: 16px;
    margin-bottom: -2px;
    padding-bottom: 2px;
  }
  .listing.grid-if-desktop .mkt-tile .info {
    padding-top: 10px;
  }
  .listing.grid-if-desktop .mkt-tile .price {
    color: #0096dc;
    font-weight: 400;
    margin-bottom: 2px;
  }
  .listing.grid-if-desktop li.item {
    background: none;
    border: 0;
    border-radius: 0;
    margin: 0;
  }
  .listing.grid-if-desktop li.item .mkt-tile {
    padding: 0;
  }
  .listing.grid-if-desktop li.item .mkt-tile .icon {
    float: none;
    position: static;
  }
  .listing.grid-if-desktop .author,
  .listing.grid-if-desktop .bad-app,
  .listing.grid-if-desktop .button,
  .listing.grid-if-desktop .loadmore {
    display: none;
  }
  .listing.grid-if-desktop .price {
    display: block;
  }
  .grid,
  .listing.grid-if-desktop {
    max-width: 690px;
    padding: 0 5px;
  }
  .grid li,
  .listing.grid-if-desktop li {
    width: 14.285714285714286%;
  }
  .grid li:nth-child(8),
  .listing.grid-if-desktop li:nth-child(8) {
    clear: both;
  }
  .grid li:nth-child(8):before,
  .listing.grid-if-desktop li:nth-child(8):before {
    border-top: 1px dashed #5f5f5f;
    content: "";
    display: block;
    height: 0;
    left: -5px;
    position: absolute;
    top: -1px;
    width: calc(700% + 10px);
  }
  .grid li:nth-child(14) ~ li,
  .listing.grid-if-desktop li:nth-child(14) ~ li {
    display: none;
  }
  .tabs a {
    text-shadow: none;
  }
  .tabs a.active:before,
  .tabs a.active:after {
    background-color: #fff;
  }
}
@media (max-width: 709px) {
  .purchases .mkt-tile + .tray {
    display: none;
  }
  .gallery {
    background: #f1f1f1;
  }
  .grid li:nth-child(4):before {
    border-top: 1px dashed #5f5f5f;
    content: "";
    display: block;
    height: 0;
    position: absolute;
    top: -1px;
    width: calc(300% - 20px);
  }
  .grid li:nth-last-child(-n+2):nth-child(3n+1),
  .grid li:nth-last-child(-n+1):nth-child(3n+2) {
    display: none;
  }
  .grid li:nth-child(3) ~ li {
    display: none;
  }
  .tabs + .view-all {
    display: none;
  }
  .tabs a {
    width: 50%;
  }
  .tabs a + a {
    margin-left: 0;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), screen and (min-device-pixel-ratio: 2) {
  .shots .next:after,
  .shots .prev:after {
    background: url("../img/icons/slider_arrow-2x.png") no-repeat;
    background-size: 15px auto;
  }
}
.listing {
  margin-bottom: 10px;
}
.listing .loadmore {
  margin-bottom: -10px;
}
.listing li.item {
  background: #fff;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  margin: 10px 10px 0;
  position: relative;
}
.listing li.item:hover {
  border-color: #d0d0d0;
}
.listing li.item:not(.loadmore):last-child {
  margin-bottom: 10px;
}
.search-listing .mkt-tile + .tray {
  border-radius: 0 0 5px 5px;
}
@media (min-width: 710px) {
  .listing li.item,
  .listing li.loadmore {
    margin: 25px 0 0;
  }
  .listing li.item {
    border-radius: 10px;
  }
  .listing li.item .mkt-tile + .tray {
    border-radius: 0 0 9px 9px;
  }
  .listing li.loadmore {
    margin-bottom: -25px;
  }
  .listing li a {
    position: static;
  }
}
.listing {
  margin-bottom: 0;
}
.listing .bad-app {
  padding-top: 2px;
  clear: left;
}
.listing .info + .bad-app {
  padding-top: 8px;
}
.listing .mkt-tile {
  padding: 15px 10px;
  position: relative;
}
.listing .mkt-tile .icon {
  float: left;
  margin-right: 15px;
  position: static;
  width: 64px;
}
.listing .mkt-tile h3 {
  color: #333;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 0;
  max-width: 100%;
}
.listing .install {
  bottom: 15px;
  position: absolute;
  right: 10px;
}
.listing.expanded .mkt-tile + .tray:before,
.listing.expanded .mkt-tile + .tray:after {
  background: #fff;
  border-bottom: 20px solid #f1f1f1;
  bottom: 0;
  content: "";
  display: block;
  height: 0;
  position: absolute;
  top: 0;
  width: 50%;
  z-index: 5;
}
.listing.expanded .mkt-tile + .tray:before {
  border-right: 20px dotted transparent;
  left: -20px;
}
.listing.expanded .mkt-tile + .tray:after {
  border-left: 20px dotted transparent;
  right: -20px;
}
.listing.product-details.expanded .mkt-tile + .tray:before,
.listing.product-details.expanded .mkt-tile + .tray:after,
.listing.product-details .mkt-tile {
  background: #fff url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+Cjxzdmcgd2lkdGg9IjEyMCIgaGVpZ2h0PSIxMjAiIHZpZXdCb3g9IjAgMCAxMjAgMTIwIgogICAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmVyc2lvbj0iMS4xIgogICAgIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KCTxkZWZzPgogICAgCTxwYXR0ZXJuIGlkPSJkaWFnb25hbEhhdGNoIiBwYXR0ZXJuVW5pdHM9InVzZXJTcGFjZU9uVXNlIiB3aWR0aD0iNCIgaGVpZ2h0PSI0Ij4KICAgIAkJPGcgc3R5bGU9ImZpbGw6I2ZmZjsgc3Ryb2tlOiNmN2Y3Zjc7IHN0cm9rZS13aWR0aDoxIj4KICAJCQkJPHBhdGggZD0iTS0xLDEgbDIsLTIiIC8+CiAgCQkJCTxwYXRoIGQ9Ik0wLDQgbDQsLTQiIC8+CiAgICAgICAgICAgCQk8cGF0aCBkPSJNMyw1IGwyLC0yIiAvPgogICAgICAgICAgICA8L2c+CgkJPC9wYXR0ZXJuPgogICAgPC9kZWZzPgoJPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNkaWFnb25hbEhhdGNoKSAiLz4KPC9zdmc+");
}
.listing.product-details .mkt-tile .rating {
  clear: left;
  padding: 8px 0 10px;
}
.listing.product-details .mkt-tile .rating .cnt {
  display: inline-block;
  margin-left: 8px;
  top: -1px;
}
.listing.product-details .mkt-tile .rating .cnt.short {
  display: none;
}
.listing.product-details .mkt-tile h3 {
  font-size: 30px;
  font-weight: 300;
  line-height: 30px;
  max-width: 100%;
}
.listing.product-details .mkt-tile .author {
  font-size: 15px;
  line-height: 18px;
}
.listing.product-details .mkt-tile + .tray {
  border-radius: 0;
}
@media (min-width: 710px) {
  .listing:not(.grid-if-desktop) .mkt-tile .rating {
    clear: left;
    padding: 8px 0 10px;
  }
  .listing:not(.grid-if-desktop) .mkt-tile .rating .cnt {
    display: inline-block;
    margin-left: 8px;
    top: -1px;
  }
  .listing:not(.grid-if-desktop) .mkt-tile .rating .cnt.short {
    display: none;
  }
  .listing:not(.grid-if-desktop) .mkt-tile h3 {
    font-size: 30px;
    font-weight: 300;
    line-height: 30px;
    max-width: 100%;
  }
  .listing:not(.grid-if-desktop) .mkt-tile .author {
    font-size: 15px;
    line-height: 18px;
  }
  .listing .mkt-tile {
    padding: 18px 15px;
  }
  .listing .mkt-tile .button {
    min-width: 100px;
    width: 100px;
  }
  .listing .install {
    bottom: 18px;
    right: 15px;
  }
  .listing.product-details {
    border-radius: 10px;
  }
  .listing.product-details .mkt-tile + .tray:after,
  .listing.product-details .mkt-tile + .tray:before {
    background-image: none;
  }
  .listing.product-details .mkt-tile h3 {
    font-size: 40px;
    line-height: 42px;
  }
  .listing.product-details .mkt-tile .author {
    line-height: 15px;
  }
  .search-listing .mkt-tile + .tray {
    border-radius: 0 0 10px 10px;
  }
}
@media (max-width: 709px) {
  .listing.grid-if-desktop .mkt-tile .rating .cnt {
    top: -2px;
  }
  .listing.grid-if-desktop:not(:first-child) {
    padding-top: 14px;
  }
}
.cnt.short {
  display: none;
}
@media (max-width: 400px) {
  .cnt.short {
    display: inline-block;
  }
  .cnt.long {
    display: none;
  }
}
