.menu {
  list-style: none;
  padding: 0;
}
.menu li {
  padding: 0;
  margin: 0;
}
.menu li a {
  display: block;
  padding: 10px;
  text-align: left;
}
.menu li a.button {
  padding: 0 10px;
  text-align: center;
}
.menu.alt li {
  margin: 10px 0;
}
