body.overlayed {
  overflow: hidden;
}
.cloak {
  background: rgba(0,0,0,0.75);
  color: #000;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  top: 0;
  -webkit-transition: 0.5s opacity ease;
  transition: 0.5s opacity ease;
  width: 100%;
  z-index: 50;
}
.cloak.show {
  display: block;
  opacity: 1;
  pointer-events: auto;
}
.cloak.light {
  background: rgba(255,255,255,0.75);
}
.modal {
  background-color: #fff;
  border: 1px solid #9b9b9b;
  border-radius: 10px;
  background: #fff url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+Cjxzdmcgd2lkdGg9IjEyMCIgaGVpZ2h0PSIxMjAiIHZpZXdCb3g9IjAgMCAxMjAgMTIwIgogICAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmVyc2lvbj0iMS4xIgogICAgIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KCTxkZWZzPgogICAgCTxwYXR0ZXJuIGlkPSJkaWFnb25hbEhhdGNoIiBwYXR0ZXJuVW5pdHM9InVzZXJTcGFjZU9uVXNlIiB3aWR0aD0iNCIgaGVpZ2h0PSI0Ij4KICAgIAkJPGcgc3R5bGU9ImZpbGw6I2ZmZjsgc3Ryb2tlOiNmN2Y3Zjc7IHN0cm9rZS13aWR0aDoxIj4KICAJCQkJPHBhdGggZD0iTS0xLDEgbDIsLTIiIC8+CiAgCQkJCTxwYXRoIGQ9Ik0wLDQgbDQsLTQiIC8+CiAgICAgICAgICAgCQk8cGF0aCBkPSJNMyw1IGwyLC0yIiAvPgogICAgICAgICAgICA8L2c+CgkJPC9wYXR0ZXJuPgogICAgPC9kZWZzPgoJPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNkaWFnb25hbEhhdGNoKSAiLz4KPC9zdmc+");
  display: none;
  left: 5%;
  position: fixed;
  top: 49px;
  width: 90%;
  z-index: 60;
}
.modal.show {
  display: block;
  padding: 15px;
}
.modal .btn-cancel {
  right: 0;
  top: -12px;
}
.modal textarea {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.15) inset;
}
.modal.confirmation {
  background: rgba(0,0,0,0.85);
  border: 1px solid #000;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  top: 102px;
}
.modal.confirmation .content {
  margin: 15px 0;
}
.modal button.alt {
  box-shadow: none;
}
@media (min-width: 710px) {
  .modal {
    left: 50%;
    margin-left: -265px;
    top: 160px;
    width: 531px;
  }
  .modal h2 {
    color: #333;
    font-size: 15px;
    font-weight: 500;
  }
  .modal .form-footer {
    text-align: right;
  }
  .modal .form-footer button {
    width: 60%;
  }
  .modal button {
    height: 48px;
    line-height: 48px;
  }
  .modal.confirmation {
    margin-left: -215px;
    width: 431px;
  }
}
