* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
.js-hidden,
.hidden {
  display: none;
}
.emaillink-wrapper {
/* Necessary when emaillink is in a paragraph. */
  display: inline-block;
}
span.emaillink {
  direction: rtl;
  unicode-bidi: bidi-override;
}
span.emaillink .i {
  display: none;
}
noscript {
  background: #f1f1f1;
  display: table;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 100;
}
noscript p {
  background: url("../img/pretty/marketplace_logo.png") 50% 48% no-repeat;
  background-size: auto 60px;
  display: table-cell;
  font-weight: bold;
  height: 100%;
  padding-top: 60px;
  text-align: center;
  vertical-align: middle;
}
a {
  text-decoration: none;
  color: #0096dc;
}
a:hover {
  text-decoration: underline;
}
body {
  background: #f1f1f1;
  color: #333;
  min-height: 300px;
  overflow-x: hidden;
  -moz-transform-origin: 50% 400px;
  -webkit-transform-origin: 50% 400px;
  -ms-transform-origin: 50% 400px;
  transform-origin: 50% 400px;
  -webkit-transition: transform;
  transition: transform;
  -webkit-transition: -webkit-transform 1s;
}
#site-header,
#page {
  min-width: 320px;
}
#site-header section.main,
#page section.main {
  margin-left: auto;
  margin-right: auto;
}
#site-header section.main:after,
#page section.main:after {
  content: '';
  display: block;
  clear: both;
}
#site-header section.main.full,
#page section.main.full {
  width: 100%;
}
#site-header section.main.full > div,
#page section.main.full > div {
  margin-left: auto;
  margin-right: auto;
}
#page {
  position: relative;
}
.row {
  clear: both;
}
.detailed-error,
.fragment-error {
  background: #fff;
}
.detailed-error {
  padding: 15px;
}
.fragment-error {
  display: block;
  padding: 15px;
}
.fragment-error b {
  display: block;
}
.main {
  margin: 0 auto;
}
.main .fragment-error {
  padding: 0;
}
#page > .overlay {
  max-width: 100%;
}
#offline-pixel {
  display: none;
  width: 1px;
  height: 1px;
}
.two-up {
  width: 50%;
  float: left;
}
.two-up:nth-child(2n+1) {
  padding: 0 5px 0 0;
}
.two-up:nth-child(2n) {
  padding: 0 0 0 5px;
}
.two-up .button {
  display: block;
}
#site-footer {
  display: none;
}
.only-logged-in {
  display: none;
}
.only-logged-out {
  display: block;
}
.logged-in .only-logged-in {
  display: block;
}
.logged-in .only-logged-out {
  display: none;
}
.spinner {
  -webkit-animation: 0.9s spin infinite steps(30);
  -moz-animation: 0.9s spin infinite steps(30);
  animation: 0.9s spin infinite steps(30);
  height: 30px;
  margin: 0 auto;
  background: url("../img/btn_spinner.png") no-repeat center;
  width: 30px;
}
.spinner.alt {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAnFBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD4jUzeAAAANHRSTlMoDw0uDAsqISceLQkIKyUHFxsdHy8SDhQVGCQiJhoQLAUxChwGFikREwQgGTAjMgIDATMALVRcswAAASBJREFUeNp109eWgjAARVEVKwioFBWklyCkQf7/3yYzgRUZzHnd6z7eFZsq72GSYYzdV1WyqYlzNMhg/o9vw6xoxrQe5lWSpUIUNU2E4FDTTxaqN5TJJBcYc20lztjIMPd2ISMfsizDDlNwCiHMTKpi4LoQekzFhea6CVUy0jWtZUq2El2/qDlIkgSoGZmmGas53O/3DzW3db0qvknf/3J3PB4DomT/xfO/KI/z27KswFnOiWDWBQEKHwslRLCNUHho73Olbzoya7g6J49I7N+pZHbleiu6nEx4tv+YCSYd12vUVfHubBu7zdawS85MMPcn5+55qR73BsT+Nj+XKf28QXyNRvYE0/mJUvAcGaw3u7JnkkXU8IEH4vUmTzmO/QBhgZ0/tlb0mAAAAABJRU5ErkJggg==");
}
.spinner.btn-replace {
  left: 50%;
  margin-left: -15px;
  position: absolute;
  top: 24px;
}
.spinner.spaced {
  margin: 70px auto;
}
.spinner.padded {
  padding: 70px 0;
}
.newsletter {
  background: #4d4d4d;
  min-height: 100px;
  position: relative;
}
.newsletter.loading {
  min-height: 100px;
}
.newsletter.loading * {
  display: none;
}
.newsletter.loading .spinner {
  margin-bottom: 5px;
}
.newsletter.loading .processing {
  bottom: 10px;
  position: absolute;
  text-align: center;
  width: 100%;
}
.newsletter p {
  color: #c7c7c7;
  font-size: 13px;
}
.newsletter p:last-child {
  margin-top: 11px;
}
.newsletter .processing,
.newsletter .finished {
  display: none;
}
.newsletter > div {
  float: left;
  padding: 15px 10px;
  width: 270px;
}
.newsletter.done {
  margin-top: -11px;
}
.newsletter.done * {
  display: none;
}
.newsletter.done .finished,
.newsletter.done .close {
  display: block;
}
.newsletter.done .finished {
  padding: 25px 10px 15px;
  text-align: center;
  width: 270px;
}
.newsletter header {
  background: transparent;
  border-top: 0;
  height: inherit;
  min-height: 25px;
}
.newsletter header:before {
  display: none;
}
.newsletter header h3 {
  color: #c7c7c7;
  line-height: 22px;
  margin-bottom: 3px;
  max-width: 100%;
  position: static;
}
.newsletter input[type=email],
.newsletter button {
  border-radius: 5px;
  font-size: 13px;
  font-weight: 400;
}
.newsletter input[type=email] {
  color: #5f5f5f;
  height: 27px;
  margin-right: 5px;
}
.newsletter button {
  height: 27px;
  line-height: 26px;
  min-width: inherit;
  padding: 0 10px;
}
.newsletter .btn-side-cancel {
  background-position: right center;
  border-left: 1px solid #5f5f5f;
  float: right;
  height: 75px;
  margin: 15px 10px 0 0;
  position: static;
  width: 25px;
}
.partner-napster {
  background: #fff url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+Cjxzdmcgd2lkdGg9IjEyMCIgaGVpZ2h0PSIxMjAiIHZpZXdCb3g9IjAgMCAxMjAgMTIwIgogICAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmVyc2lvbj0iMS4xIgogICAgIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KCTxkZWZzPgogICAgCTxwYXR0ZXJuIGlkPSJkaWFnb25hbEhhdGNoIiBwYXR0ZXJuVW5pdHM9InVzZXJTcGFjZU9uVXNlIiB3aWR0aD0iNCIgaGVpZ2h0PSI0Ij4KICAgIAkJPGcgc3R5bGU9ImZpbGw6I2ZmZjsgc3Ryb2tlOiNmN2Y3Zjc7IHN0cm9rZS13aWR0aDoxIj4KICAJCQkJPHBhdGggZD0iTS0xLDEgbDIsLTIiIC8+CiAgCQkJCTxwYXRoIGQ9Ik0wLDQgbDQsLTQiIC8+CiAgICAgICAgICAgCQk8cGF0aCBkPSJNMyw1IGwyLC0yIiAvPgogICAgICAgICAgICA8L2c+CgkJPC9wYXR0ZXJuPgogICAgPC9kZWZzPgoJPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNkaWFnb25hbEhhdGNoKSAiLz4KPC9zdmc+");
  padding: 30px 10px;
  text-align: center;
}
.partner-napster .logo {
  background: url("../img/partners/napster.png") 50% 0 no-repeat;
  background-size: 105px auto;
  height: 105px;
}
.partner-napster p {
  font-size: 30px;
  font-weight: 600;
  line-height: 32px;
  margin: 15px 0 30px;
}
.partner-napster .button {
  font-size: 20px;
}
@media (min-width: 710px) {
  .partner-napster {
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    padding: 45px 10px;
  }
  .partner-napster .logo {
    background-size: 165px auto;
    height: 165px;
  }
  .partner-napster p {
    font-size: 40px;
    line-height: 42px;
  }
  .partner-napster .button {
    font-size: 30px;
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0turn);
  }

  100% {
    -webkit-transform: rotate(1turn);
  }
}
.roll {
  -webkit-animation: 0.9s spin 1 steps(30);
  -moz-animation: 0.9s spin 1 steps(30);
  animation: 0.9s spin 1 steps(30);
}
@media (min-width: 710px) {
  html,
  #footer {
    background: #fff;
  }
  #footer,
  #directory-footer {
    padding: 48px 0;
  }
  #footer ul,
  #directory-footer ul {
    list-style: none;
  }
  #directory-footer {
    border-top: 1px dashed #000;
    font-size: 14px;
    line-height: 18px;
  }
  #directory-footer .links a {
    margin-top: 8px;
  }
  #directory-footer .links a + a {
    margin-top: 10px;
  }
  #directory-footer .devhub {
    width: 290px;
  }
  #directory-footer .devhub:before {
    background: url("../img/pretty/rocket.png") 0 50% no-repeat;
    background-size: 20px auto;
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: top;
    width: 28px;
  }
  #directory-footer .group {
    float: left;
    min-height: 48px;
    position: relative;
  }
  #directory-footer .group a {
    display: block;
  }
  #directory-footer .group + .group {
    padding-left: 68px;
    max-width: 200px;
  }
  #page .main,
  .main {
    max-width: 690px;
  }
  .container.product-details,
  .container.results {
    margin: 50px 0;
  }
  .container.prose,
  .container.form-grid {
    padding: 25px;
  }
  #directory-footer .group .region {
    background-repeat: no-repeat;
    background-size: 20px auto;
    margin-top: 6px;
    min-height: 20px;
    overflow: visible;
    padding: 2px 0 0 28px;
    text-overflow: normal;
  }
  #directory-footer .group span.region {
    display: block;
    margin-top: 6px;
  }
  .region-worldwide {
    background-image: url("../img/icons/regions/worldwide.png");
  }
  .region-br {
    background-image: url("../img/icons/regions/br.png");
  }
  .region-co {
    background-image: url("../img/icons/regions/co.png");
  }
  .region-es {
    background-image: url("../img/icons/regions/es.png");
  }
  .region-pl {
    background-image: url("../img/icons/regions/pl.png");
  }
  .region-uk {
    background-image: url("../img/icons/regions/uk.png");
  }
  .region-us {
    background-image: url("../img/icons/regions/us.png");
  }
  .region-ve {
    background-image: url("../img/icons/regions/ve.png");
  }
  .region-rs {
    background-image: url("../img/icons/regions/rs.png");
  }
  .region-me {
    background-image: url("../img/icons/regions/me.png");
  }
  #footzilla {
    background: url("../img/logos/footzilla.png") 0 3px no-repeat;
    float: left;
    width: 100px;
  }
  #footzilla a {
    display: block;
    height: 26px;
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
    width: 80px;
  }
  #footer {
    color: #999;
    overflow: hidden;
    padding: 30px 0;
    width: 100%;
  }
  #footer .pad {
    margin: 0 auto;
    padding: 0;
    width: 732px;
  }
  #footer p,
  #footer ul {
    border-left: 1px dotted #ccc;
    font-size: 11px;
    line-height: 1.3;
    margin: 0;
    padding-left: 1em;
  }
  #footer p {
    float: left;
    width: 60%;
  }
  #footer ul {
    float: right;
    line-height: 1.2;
    width: 20%;
  }
  #footer ul a {
    display: block;
  }
  #footer li + li {
    margin-top: 2px;
  }
  #site-footer {
    display: block;
  }
  .newsletter {
    display: none;
  }
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), screen and (min-device-pixel-ratio: 2) {
    #footzilla {
      background-image: url("../img/logos/footzilla-2x.png");
      background-size: 81px auto;
    }
}
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), screen and (min-device-pixel-ratio: 2) {
  .spinner {
    background-image: url("../img/btn_spinner_2x.png");
    background-size: 30px auto;
  }
  .spinner.alt {
    background-image: url("../img/btn_spinner_alt_2x.png");
    background-size: 30px auto;
  }
}
@-moz-keyframes spin {
  0% {
    -webkit-transform: rotate(0turn);
    -moz-transform: rotate(0turn);
    -ms-transform: rotate(0turn);
    transform: rotate(0turn);
  }

  100% {
    -webkit-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0turn);
    -moz-transform: rotate(0turn);
    -ms-transform: rotate(0turn);
    transform: rotate(0turn);
  }

  100% {
    -webkit-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@-o-keyframes spin {
  0% {
    -webkit-transform: rotate(0turn);
    -moz-transform: rotate(0turn);
    -ms-transform: rotate(0turn);
    transform: rotate(0turn);
  }

  100% {
    -webkit-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@-ms-keyframes spin {
  0% {
    -webkit-transform: rotate(0turn);
    -moz-transform: rotate(0turn);
    -ms-transform: rotate(0turn);
    transform: rotate(0turn);
  }

  100% {
    -webkit-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0turn);
    -moz-transform: rotate(0turn);
    -ms-transform: rotate(0turn);
    transform: rotate(0turn);
  }

  100% {
    -webkit-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
