@import 'lib';

.spinner {
    spinner();
    &.alt {
        spinner-alt-image();
    }
    &.btn-replace {
        spinner-abs();
        top: 24px;
    }
    &.spaced {
        margin: 70px auto;
    }
    &.padded {
        padding: 70px 0;
    }
}

ul {
    list-style-position: inside;
}

$dash-tile-height = 150px;
$dash-tile-width = 290px;

.dashboard {
    list-style-type: none;
    margin-top: 30px;
    li {
        background-color: #fff;
        float: left;
        height: $dash-tile-height;
        margin: 0 45px 45px 0;
        position: relative;
        width: $dash-tile-width;
        &:nth-child(3n) {
            margin-right: 0;
        }
    }
    // This will need some RTL love eventually.
    a {
        color: #fff;
        display: block;
        font-weight: 600;
        height: 100%;
        padding: 10px;
        position: absolute;
        width: 100%;
        z-index: 10;
        &:hover {
            text-decoration: none;
        }
        span {
            border-radius: 3px;
            display: block;
            gradientLeft(unquote('rgba(228,97,3,1) 0%, rgba(228,97,3,0.4) 100%'));
            line-height: 150px;
            margin: -10px 0 0 -10px;
            padding: 0 10px;
            width: 290px;
        }
    }
    li, a {
        border-radius: 3px;
    }
    svg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
    }
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0turn); }
    to { -webkit-transform: rotate(1turn); }
}
@keyframes spin {
    from { transform: rotate(0turn); }
    to { transform: rotate(1turn); }
}

.roll {
    animation(unquote('0.9s spin 1 steps(30)'));
}

@media $at-least-desktop {
    html, #footer {
        background: #fff;
    }

    #footer,
    #directory-footer {
        border-top: 1px solid $cloud-gray;
        padding: 48px 0;
        ul {
            list-style: none;
        }
    }

    #directory-footer {
        font-size: 15px;
        line-height: 18px;
        .links a {
            font-weight: 300;
            margin-top: 8px;
            + a {
                margin-top: 10px;
            }
        }
        .devhub {
            font-weight: 500;
            width: 290px;
            // TODO: Get Michael to vectorize this as an SVG.
            &:before {
                background: url(../img/pretty/rocket.png) 0 50% no-repeat;
                background-size: 20px auto;
                content: "";
                display: inline-block;
                height: 100%;
                vertical-align: top;
                width: 28px;
            }
        }
        .group {
            float: left;
            min-height: 48px;
            position: relative;
            a {
                display: block;
            }
            + .group {
                padding-left: 68px;
                max-width: 200px;
            }
        }
    }

    #page .main,
    .main {
        max-width: $desktop-content;
    }

    .container {
        &.product-details,
        &.results {
            margin: 50px 0;
        }
        &.prose,
        &.form-grid {
            padding: 25px;
        }
    }

    #footzilla {
        background: url(../img/logos/footzilla.png) 0 3px no-repeat;
        float: left;
        width: 100px;
        a {
            display: block;
            height: 26px;
            hidetext();
            width: 80px;
        }
    }

    #footer {
        color: $note-gray;
        overflow: hidden;
        padding: 20px 0;
        width: 100%;
        .pad {
            margin: 0 auto;
            padding: 0;
            width: 1024px;
        }
        p, ul {
            border-left: 1px dotted $light-gray;
            font-size: 11px;
            line-height: 1.3;
            margin: 0;
            padding-left: 1em;
        }
        p {
            float: left;
            width: 60%;
        }
        ul {
            float: right;
            line-height: 1.2;
            width: 20%;
            a {
                display: block;
            }
        }
        li + li {
            margin-top: 2px;
        }
    }

    #site-footer {
        display: block;
    }

    .newsletter {
        display: none;
    }

    @media $retina {
        #footzilla {
            background-image: url(../img/logos/footzilla-2x.png);
            background-size: 81px auto;
        }
    }
} // End of Desktop.

#directory-footer .group .region {
    background-repeat: no-repeat;
    background-size: 20px auto;
    margin-top: 6px;
    min-height: 20px;
    overflow: visible;
    padding: 2px 0 0 28px;
    text-overflow: normal;
}

for region in ar br cl cn co de es gr gr hu it me mx pe pl rs uk us uy ve worldwide
    .region-{region} {
        background-image: url(unquote('../img/icons/regions/' + region + '.png'));
    }

@media $retina {
    .spinner {
        spinner-base-image('retina');
        &.alt {
            spinner-alt-image('retina');
        }
    }
}
