@import 'lib';

.apps {
    width: 100%;
    .app div {
        border-bottom: 1px solid #ccc;
        color: #3b3b3b;
        float: left;
        font-size: 13px;
        font-weight: 600;
        height: 20px;
        padding: 16px 0 16px 0;
        text-align: center;
        width: 20%;
    }
    .app .app-name {
        font-size: 14px;
        text-align: left;
        a {
            padding-left: 56px;
        }
        img {
            position: absolute;
            margin: -5px 0 0 10px;
        }
    }
    .head {
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
        color: #75767b;
        float: left;
        font-size: 13px;
        font-weight: 600;
        padding: 25px 0 4px 0;
        text-align: center;
        width: 20%;
    }
}

$dash-tile-height = 150px;
$dash-tile-width = 290px;

.dashboard {
    align-content: space-around;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;

    a {
        color: #fff;
        display: block;
        font-weight: 300;
        height: 100%;
        letter-spacing: 1px;
        position: absolute;
        text-shadow: 0 1px 2px #0d314a, 0 0 2px #0d314a, 1px 0 1px #000;
        width: 100%;
        z-index: 10;

        &:hover {
            text-decoration: none;
        }
        span {
            border: 1px solid #ccc;
            border-radius: 2px;
            display: block;
            line-height: 150px;
            padding: 0 10px;
            width: 290px;
        }
        span:hover {
            border-bottom: 3px solid #e66000;
        }
    }
    li {
        background-color: #fff;
        height: $dash-tile-height;
        position: relative;
        width: $dash-tile-width;
    }
    li,
    a {
        border-radius: 3px;
    }
    svg {
        background-color: #1f77b4;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
    }
}

.dashboard-home {
    // 150 x 3 + 40 x 2
    height: 530px;
}

.dashboard-app {
    height: 340px;
    justify-content: space-between;
    margin-top: 30px;
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0turn); }
    to { -webkit-transform: rotate(1turn); }
}
@keyframes spin {
    from { transform: rotate(0turn); }
    to { transform: rotate(1turn); }
}

.roll {
    animation(unquote('0.9s spin 1 steps(30)'));
}

.spinner {
    spinner();
    &.alt {
        spinner-alt-image();
    }
    &.btn-replace {
        spinner-abs();
        top: 24px;
    }
    &.spaced {
        margin: 70px auto;
    }
    &.padded {
        padding: 70px 0;
    }
}

ul {
    list-style-position: inside;
}

@media $at-least-desktop {
    html,
    .footer {
        background: #fff;
    }

    .footer {
        border-top: 1px solid $cloud-gray;
        padding: 48px 0;
        ul {
            list-style: none;
        }
    }

    #page .main,
    .main {
        max-width: $desktop-content;
    }

    .container {
        &.product-details,
        &.results {
            margin: 50px 0;
        }
        &.prose,
        &.form-grid {
            padding: 25px;
        }
    }

    .footzilla {
        background: url(../img/logos/footzilla.png) 0 3px no-repeat;
        float: left;
        width: 100px;
        a {
            display: block;
            height: 26px;
            hidetext();
            width: 80px;
        }
    }

    .footer {
        color: $note-gray;
        overflow: hidden;
        padding: 20px 0;
        width: 100%;

        .pad {
            display: flex;
            margin: 0 auto;
            padding: 0;
            width: 1024px;
        }
        p, ul {
            font-size: 11px;
            line-height: 1.3;
            margin: 0;
            padding: 0 20px;
        }
        p {
            flex-grow: 1;
            width: 60%;

            +ltr() {
                border-left: 1px dotted $light-gray;
                padding-right: 40px;
            }
            +rtl() {
                border-right: 1px dotted $light-gray;
                margin-right: 20px;
                padding-left: 40px;
            }
        }
        ul {
            align-self: flex-end;
            line-height: 1.2;
            width: 20%;

            +ltr() {
                border-left: 1px dotted $light-gray;
            }
            +rtl() {
                border-right: 1px dotted $light-gray;
            }
            a {
                display: block;
            }
        }
        li + li {
            margin-top: 2px;
        }
    }

    #site-footer {
        display: block;
    }

    @media $retina {
        .footzilla {
            background-image: url(../img/logos/footzilla-2x.png);
            background-size: 81px auto;
        }
    }
} // End of Desktop.

@media $retina {
    .spinner {
        spinner-base-image('retina');
        &.alt {
            spinner-alt-image('retina');
        }
    }
}

.page-container-app {
    background-color: #fff;
    border: 0px solid #d7d7d7;
    border-radius: 5px;
    box-shadow: 0 0 1px #a5a5a5;
    margin: 30px auto 50px auto;
    padding: 5px 0;
}

.sidebar {
    float: right;
    height: 780px;
    margin: 30px 5px 0 0;
    width: 180px;
    li {
        margin-bottom: -2px;
    }
    ol {
        color: #7b7b7b;
        font-size: 80%;
        margin-bottom: 50px;
        padding-left: 30px;
    }
}

.tiny {
    color: #a0a0a0;
    font-size: 11px;
    font-weight: 300;
}
